// Import variables
@import './var.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $mainFont;
}

body {
  background-color: $dark;
  color: #fff;
}

.logo, .search, .menu {
  display: inline-block;
}